/* 課題：HTTP の知識を活かしたエラーページを作ろう */
/* 今日学んだステータスコード（200・404・500）をテーマにしたエラーページを1ページ作ってください。 */
/* 条件 */

/* index.html と style.css の2ファイル構成 */
/* 404エラーページ風のデザイン（「ページが見つかりません」など） */
/* 大きな数字（404）を目立つように表示する */
/* ホームに戻るリンクを1つ入れる */
/* background-color・color・font-size を使って見た目を整える */

@font-face {
  font-family: 'NotoSans';
  src: url('../../FontsPack/NotoSansJP-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'NotoSans';
  src: url('../../FontsPack/NotoSansJP-Regular.ttf') format('truetype');
  font-weight: 700;
  
}

@font-face {
  font-family: 'Zen_Kaku_Gothic_New';
  src: url('../../FontsPack/Zen_Kaku_Gothic_New/ZenKakuGothicNew-Medium.ttf') format('truetype');
  font-weight: 500;
}

body {
  background-color: #ffffff;
  color: #e0e0e0;
  font-size: 20px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'NotoSans', sans-serif;
}

.container {
  text-align: center;
}

.error-code {
  font-size: 120px;
  color: #000000;
  margin: 0;
  font-family: 'NotoSans', sans-serif;
  font-weight: 600;
}

.error-message {
  font-size: 24px;
  color: #a0a0b0;
  margin: 16px 0 32px;
}

.home-link {
  background-color: transparent;
  color: #000000;
  font-size: 16px;
  padding: 12px 28px;
  border-radius: 4px;
  text-decoration: none;
  box-shadow: 0 0 0 0 rgba(246, 215, 78, 0);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.home-link:hover {
  background-color:#e9e9e9;
}